.backgroundgames{
	background:#f350c6;
	width:200px;
	height:200px;
}
.cell{
	width:35px;
	background:#f350c6;
	color:#ffffff;
	border:1px solid #ff00ff;
	margin-bottom:5px;
}
.cell:hover{
	color:#ffff00;
	background:#c3c500;
	
}
.cell:active{
	color:#ffaa00;
	background:#c3a500;

}
#cell100{
	color:#c3a500;
	background:#f030db;

}
#cell200{
	color:#c3a500;
	background:#15dbf5;

}