<p>
</td>
<td width="28" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" >
<!--DWLayoutTable-->
<tr> 
<td width="28" height="41">&nbsp;</td>
</tr>
</table></td>
              </tr>
              <tr> 
                <td height="0"></td>
                <td></td>
              </tr>
              <tr> 
                <td height="1"></td>
                <td><img src="images/spacer.gif" alt="" width="28" height="1"></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td height="1"></td>
        </tr>
        <tr> 
          <td height="0"></td>
          <td></td>
        </tr>
        <tr> 
          <td height="1"><img src="images/spacer.gif" alt="" width="21" height="1"></td>
          <td></td>
        </tr>
      </table></td>
    <td height="24"></td>
  </tr>
  <tr> 
    <td height="24" valign="top">


    </td>
    <td></td>
  </tr>
  <tr> 
    <td height="20">
<!-- Footer menu-->
<div align = left>
&nbsp;
<a href="products/index.php">Products</a>&nbsp;|
<a href="register.php">Buy now</a>&nbsp;|
<a href="download.php">Downloads</a>&nbsp;|&nbsp;
<a href="support/index.php">Support</a>&nbsp;|
<a href="MailTo:info@cydsoft.com">Contact Us</a>
</div>
    </td>
    <td>&nbsp;</td>
    <td></td>
  </tr>
  <tr> 
    <td height="21" colspan="2" valign="bottom"><table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="AA1B1B">
        <!--DWLayoutTable-->
        <tr> 
          <td height="21" valign="top"><div align="center">
<center><font face="Verdana" color="#FFFFFF" size="1">Copyright &copy; 1999-2003, CyD Software Labs. All rights reserved.
<br><a href="ln.php"><font face="Verdana" color="#FFFFFF" size="1">Legal Notices</font></a> | <a href="pp.php"><font face="Verdana" color="#FFFFFF" size="1">Privacy Policy</a></font>
<BR>Design by: CyD Software Labs</font></center>
          </div></td>
        </tr>
      </table></td>
    <td></td>
  </tr>
  <tr> 
    <td height="1"></td>
    <td><img src="images/spacer.gif" alt="" width="267" height="1"></td>
    <td><img src="images/spacer.gif" alt="" width="1" height="1"></td>
  </tr>
</table>

<SCRIPT language=JavaScript src="scripts/top_navi.js"></SCRIPT>
<SCRIPT language=JavaScript src="scripts/main_function.js"></SCRIPT>

</body>
</html>
