.icons {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  background: linear-gradient(#f7f7f7,#b7b7b7);
}
.icons__image {
  padding: 7px;
  margin: 0;
  border: 1px solid #ccc;
  background: linear-gradient(#f7f7f7,#b7b7b7);
}
